<h1>Audyt</h1>


<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>ID użytkownika</th>
      <th>Data</th>
      <th>Zdarzenie</th>
      <th>Kod statusu</th>

      <th></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let audit of Audit; let i=index;">
      <td>{{audit.at_id}}</td>
      <!-- <td>{{audit.user_id}}</td> -->
      <td>{{Users_name[i]}}</td>
      <td>{{audit.date_time}}</td>
      <td>{{audit.events}}</td>
      <td>{{audit.status_code}}</td>
    </tr>
  </tbody>
</table>