<a [routerLink]="['/department']">
  <input type="submit" value="Powrót" class="btn btn-outline-primary" />
</a>
<h1>Wybierz pacjenta</h1>
<div style="text-align: right;">

  <a class="nav-link text-dark" [routerLink]="['/patient-add', department_id]">
    <input type="submit" value="Dodaj pacjenta" class="btn btn-outline-primary" /></a>

</div>
<table class="table">
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let patient of Patients; let i=index">
      <td>{{patient.name}}</td>
      <td>{{patient.surname}}</td>
      <td><a class="nav-link text-dark" [routerLink]="['/patient', patient.patient_id]">
          <input type="submit" value="Wybierz" class="btn btn-outline-primary" />
        </a>
      <td>
    </tr>
  </tbody>
</table>