@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button onclick="@("window.location.href='" + @Url.Action("Login", "Home") + "'");">Sign in</button>
    @*<a href="@Url.RouteUrl("Login")">Login2</a>*@
</div>
