<div style="text-align:center"> <h3><b>Obliczanie BMI (Body Mass Index)</b></h3></div>
<br>
<br>
<div style="text-align:center">
   
        <p><b>Masa ciała:</b></p>
        <br>
        <input type="text" name="weight">
        <br>
        <br>
        <p><b>Wzrost w metrach:</b></p>
        <br>
        <input type="text" name="height" />
        <br>
        <br>
        <button class="btn btn-info">Zatwierdź</button>
        <br>
        <br>
        <p><b>BMI: </b></p>
        <br>
        
   
</div>
