<div style="text-align:center"> <h3><b>Obliczanie BMI (Body Mass Index)</b></h3></div>
<br>
<br>
<div style="text-align:center">
   
        <p><b>Masa ciała:</b></p>
        
        <div><input #weight type="number" (keyup)="addWeight(weight.value)"></div>
        <br>
        <p><b>Wzrost:</b></p>
        
        <div><input type="number" #height (keyup)="addHeight(height.value)"/></div>
        <br>
        <button class="btn btn-info" (click)="calculate()" >Zatwierdź</button>
        <br>
        <br>
        <p><b>BMI: {{BMI}} </b></p>
        <ul class="list-group"><li class="list-group-item" *ngFor="let bmi of BMIs"><b>{{bmi}}</b></li></ul>
        
        <br>
        
   
</div>
