<a [routerLink]="['/patients',department_id]">
  <input type="submit" value="Powrót" class="btn btn-outline-primary" />
</a>
<h1>Dodawanie pacjenta</h1>
<div class="form" style="text-align: center;">
  <div class="card card-login mx-auto" style="width: 50vh;">
    <div class="card-body">
      <form>
        <div class="form-group">
          <div class="form-label-group">
            <input #name type="text" class="form-control" placeholder="Imię" (keyup)="addName(name.value)" Name="name">
            <!-- <label>Imię</label> -->
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input #surname type="text" class="form-control" placeholder="Nazwisko" (keyup)="addSurName(surname.value)"
              Name="surname">
            <!-- <label>Nazwisko</label> -->

          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input #birthdate type="date" class="form-control" (input)="addBirthDate(birthdate.value)" Name="birthdate">
            <!-- <label for="inputPassword">Data urodzenia/label> -->
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input #pesel type="text" class="form-control" placeholder="Pesel" (keyup)="addPesel(pesel.value)"
              Name="pesel">
            <!-- <label for="inputPassword">Pesel</label> -->
          </div>
        </div>

        <div style="text-align:center">
          <a class="nav-link text-dark">
            <input type="submit" (click)="onSubmit()" value="Dodaj" class="btn btn-outline-primary" />
          </a>
        </div>
      </form>
    </div>
  </div>