<a [routerLink]="['/results/', patient_id]">
        <input type="submit" value="Powrót" class="btn btn-outline-primary"/>
        </a>
<div style="text-align:center"> <h3><b>Obliczanie dawek leków dla dziecka (Wzór Clarka)</b></h3></div>
<br>
<br>
<div style="text-align:center">
   
        <p><b>Masa dziecka:</b></p>
        
        <div><input #weight type="number" (keyup)="addWeight(weight.value)"><b>[kg]</b></div>
        <br>
        <p><b>Dawka maksymalna leku dla osoby dorosłej:</b></p>
        
        <div><input type="number" #dose (keyup)="addDose(dose.value)"/><b> [g]</b></div>
        <br>
        <button class="btn btn-info" (click)="calculate()" >Przelicz</button>
        <br>
        <br>
        <p><b>Dawka dla dziecka: </b></p>
        <ul class="list-group"><li class="list-group-item" *ngFor="let dose of Doses"><b>{{Doses}} [g]</b></li></ul>
        
        <br>
        
   
</div>
